.boxed {
	border: 1px solid gray;
}

.navbar .login-btn {
	position: absolute;
	top: 0px;
	right: 15px;
}

#quantityForm {
	visibility: hidden;
}

/* taken from manthos's commit
 */
.footer {
	color: #fff;
	line-height: 59px;
	background-color: #265a88;
	border-top: 1px solid #fff;
	position:fixed;
	bottom:0px;
	width:100%;
}

.content {
	position: relative;
	margin-bottom: 30em;
}